django
django-ninja
pandas
openpyxl
cryptography
python-dotenv
django-cors-headers
pyodbc
mssql-django
sqlalchemy
fastapi
python-multipart
# Si usas SQL Server añade: pyodbc
# Si usas PostgreSQL añade: psycopg2-binary